<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N-gram Text Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>MarcelLM</h1>
        <form id="textForm" action="/generate" method="post">
            <label for="seed">Enter Seed Text:</label>
            <input type="text" id="seed" name="seed" required>
            <button type="submit">Generate</button>
        </form>
        <h2>Generated Text:</h2>
        <p id="output">{{ generated_text }}</p>
    </div>
</body>
</html>
